.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem 59rem 20rem;
  gap: 1rem;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileExtra {
  height: 8rem;
}

.profileExtra .CoveriImg {
  height: 6rem;
}
